body
{
    color: #fff;
    background-repeat: no-repeat;
    /* IE10+ */ 
background-image: -ms-linear-gradient(top, #f0b7a1 0%, #752201 51%, #bf6e4e 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #f0b7a1 0%, #752201 51%, #bf6e4e 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #f0b7a1 0%, #752201 51%, #bf6e4e 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0b7a1), color-stop(51, #752201), color-stop(100, #bf6e4e));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #f0b7a1 0%, #752201 51%, #bf6e4e 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #f0b7a1 0%, #752201 51%, #bf6e4e 100%);
}
a {
color: inherit;
}   
#top_space{
padding-top:10px;
}   
#footer{
color: #fff;

background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #bf6e4e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#bf6e4e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#bf6e4e 100%); /* IE10+ */
background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#bf6e4e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}
container.nav{
background-color:#ff6600;
}   
#para{
text-indent: 5em;
text-align: justify;
}  